{
  "extends": "<%= offsetFromRoot %>tsconfig.base.json",
  "compilerOptions": {
    "rootDir": "src",
    "outDir": "dist",
    "tsBuildInfoFile": "dist/tsconfig.lib.tsbuildinfo",
    "emitDeclarationOnly": <%= emitDeclarationOnly %>,
    "types": ["node"]
  },
  "include": ["src/**/*.ts"],
  "references": []
}
