import { NativeModule, requireNativeModule, } from 'expo';

export interface <%= className %>Module extends NativeModule<{}> {
  hello(): string;
}

export const <%= className %>Module = requireNativeModule('<%= className %>');
